.nav {

    list-style: none;

    padding-left: 0%;

    width: 50%;

    margin: auto;

    text-align: center;

}

.nav>li {

    border-style: ridge;

    border-radius: 10px;

    display: inline-block;

    background-color: red;
}


.indexh1 {
    text-align: center;

    background-color: aqua;

}

.catchphrase {
    text-align: center;

    font-family: 'Times New Roman', Times, serif;

    background-color: chocolate;
}

.imggarden {
    size: 30%;
}

.pindex {
    text-align: center;

    font-size: 150%;

    font-family: 'Times New Roman', Times, serif;
}